<div class="photo-wrapper">

  {{! Header }}
  <div class="header">
    <h4 class="product-name">{{product.name}}</h4>
    <a class="business-name" href="#">@ {{product.businessName}}</a>
  </div>

  {{! Photo }}
  <img class="product-photo" src="{{filepicker product.photoUrl 227 227}}" width="227" height="227" alt="{{#if product.description}}{{product.description}}{{else}}{{product.name}}{{/if}}">


  {{! Update Feelings }}
  <ul class="product-feelings">
    {{! TODO: make anchors buttons}}
    <li class="feeling-want {{#if product.userWants}}active{{/if}}">
      <a href="#">
        <i class="icon-want"></i>
        <span class="feeling">Want</span>
      </a>
    </li>
    <li class="feeling-like {{#if product.userLikes}}active{{/if}}">
      <a href="#">
        <i class="icon-like"></i>
        <span class="feeling">Like It</span>
      </a>
    </li>
    <li class="feeling-try {{#if product.userTried}}active{{/if}}">
      <a href="#">
        <i class="icon-try"></i>
        <span class="feeling">Tried</span>
      </a>
    </li>
  </ul>
</div>

{{! Like Count and Such }}
<div class="product-footer">
  <i class="icon-like-count"></i>
  <span class="like-count">{{product.likes}}</span>
</div>