<div class="photo-wrapper">

  {{! Header }}
  <div class="header">
    <h4 class="product-name">{{product.name}}</h4>
    <a href="#">{{product.businessName}}</a>
  </div>

  {{! Photo }}
  <img class="product-photo" src="{{filepicker product.photoUrl}}" alt="{{#if product.description}}{{product.description}}{{else}}{{product.name}}{{/if}}">


  {{! Update Feelings }}
  <ul class="feeling-actions">
    <li class="{{#if product.userWants}}active{{/if}}">
      <a href="#">
        <i class="icon-want"></i>
        Want
      </a>
    </li>
    <li>
      <a href="#">
        <i class="icon-like"></i>
        Like It
      </a>
    </li>
    <li>
      <a href="#">
        <i class="icon-tried"></i>
        Tried
      </a>
    </li>
  </ul>
</div>

{{! Like Count and Such }}
<div class="product-footer">
  <i class="icon-like-count"></i>
  <span class="like-count">{{product.likes}}</span>
</div>