<h1 class="page-title">My Punchcards</h1>

<div class="punchcards-list">
  {{! Elite Punch Cards }}
  <section class="punchcard-group-elite punchcard-group">

    {{! Elite Punch Cards - Header}}
    <div class="punchcard-group-header">
      <div class="row">
        <div class="span6 type">
          <h1>Elite PunchCards:</h1>
        </div>
        <div class="span4 type">
          Your Punches:
        </div>
      </div>
    </div>

    {{! Elite Punch Cards - List}}
    {{#arrayLen elite 0}}
    <h2 class="no-punch-cards">Oh no! You have no Elite Punchcards</h2>
    {{else}}
      {{#each elite}}
      <div class="punchcard row">
        {{! Puncard Details }}
        <div class="details span5">
          <img src="{{filepicker this.photoUrl 50 50}}" width="50" height="50" alt="{{this.businessName}}" class="punchcard-business-logo">
          <div class="title-and-description">
            <h3 class="title">{{this.businessName}}</h3>
            <p class="description">{{this.elitePunchesRequired}} {{this.requiredItem}} = {{this.reward}}</p>
          </div>
        </div>

        {{! Punchcard Number of Rewards }}
        <div class="num-rewards span1">
          {{#if this.numRewards}}
          <div class="num-rewards-badge">
            <div class="num-rewards">{{this.numRewards}}</div>
          </div>
          {{/if}}
        </div>

        {{! Punchcard Number of Punches}}
        <div class="num-punches span1">
          {{this.numPunches}}/{{this.elitePunchesRequired}}
        </div>

        {{! Punchcard Punch Indicators }}
        <div class="punch-indicators elite span3">
          {{#for this.elitePunchesRequired}}
            {{#lt this.index ../numPunches}}
            <div class="elite-punch-indicator punched"></div>
            {{else}}
            <div class="punch-indicator"></div>
            {{/lt}}
          {{/for}}
        </div>
      </div>
      {{/each}}
    {{/arrayLen}}

  </section>

  {{! Regular Punch Cards }}
  <section class="punchcard-group-regular punchcard-group">

    {{! Regular Punch Cards - Header}}
    <div class="punchcard-group-header">
      <div class="row">
        <div class="span6 type">
          <h1>Regular PunchCards:</h1>
        </div>
        <div class="span4 type">
          Your Punches:
        </div>
      </div>
    </div>

    {{! Regular Punch Cards - List}}
    {{#arrayLen regular 0}}
    <h2 class="no-punch-cards">Oh no! You have no Punchcards</h2>
    {{else}}
      {{#each regular}}
      <div class="punchcard row">
        {{! Puncard Details }}
        <div class="details span5">
          <img src="{{filepicker this.photoUrl 50 50}}" width="50" height="50" alt="{{this.businessName}}" class="punchcard-business-logo">
          <div class="title-and-description">
            <h3 class="title">{{this.businessName}}</h3>
            <p class="description">{{this.regularPunchesRequired}} {{this.requiredItem}} = {{this.reward}}</p>
          </div>
        </div>

        {{! Punchcard Number of Rewards }}
        <div class="num-rewards span1">
          {{#if this.numRewards}}
          <div class="num-rewards-badge">
            <div class="num-rewards">{{this.numRewards}}</div>
          </div>
          {{/if}}
        </div>

        {{! Punchcard Number of Punches}}
        <div class="num-punches span1">
          {{this.numPunches}}/{{this.regularPunchesRequired}}
        </div>

        {{! Punchcard Punch Indicators }}
        <div class="punch-indicators span3">
          {{#for this.regularPunchesRequired}}
            {{#lt this.index ../numPunches}}
            <div class="punch-indicator punched"></div>
            {{else}}
            <div class="punch-indicator"></div>
            {{/lt}}
          {{/for}}
        </div>
      </div>
      {{/each}}
    {{/arrayLen}}

  </section>
</div>