<h1 class="page-title">{{title}}</h1>

<div class="row header-controls">
  {{! Filters Button Group }}
  <div class="btn-group filters-btn-group span3" data-toggle="buttons-{{#if data-toggle}}{{data-toggle}}{{else}}checkbox{{/if}}">
  {{#each buttons}}
    <button type="button" class="btn btn-large {{this.class}} {{#if this.active}}active{{/if}}">
      {{this.name}}
    </button>
  {{/each}}
  </div>

  <span class="span4 header-tagline">Let us help decide your next meal!</span>

  {{! Search }}
  <div class="span3">
    <form id="header-search-form" class="form-search">
      <div class="input-append">
        <input class="field-search" placeholder="Search Gallery" type="text">
        <button class="btn btn-primary" type="submit">Search</button>
      </div>
      <button class="field-search-clear hide" type="button"><i class="icon-remove"></i></button>
    </form>
  </div>
</div>
