<div class="container">
  <div class="row">

    <div class="span2 logo-wrapper">
      <img src="img/logo.png" alt="" class="logo">
    </div>

    <div class="span6 nav-wrapper">
      <ul class="nav">
        <li>
          <a href="#/explore">Explore</a>
        </li>
        <li>
          <a href="#/collections">My Collections</a>
        </li>
        <li class="dropdown dropdown-more">
          <a href="#/more" class="more">More</a>
          <ul class="dropdown-menu">
            <li>
              <a href="#/how-it-works">How it Works</a>
            </li>
            <li>
              <a href="#/locations">Locations</a>
            </li>
            <li>
              <a href="#/about-us">About Us</a>
            </li>
            <li>
              <a href="#/charities">Charities</a>
            </li>
            <li>
              <a href="#/gb-for-businesses">Contact Us</a>
            </li>
            <li>
              <a href="#/privacy">Privacy</a>
            </li>
            <li>
              <a href="#/legal">Legal</a>
            </li>
            <li class="get-the-app">
              <a href="https://itunes.apple.com/ie/app/goodybag/id506924389?mt=8">Get the App!</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="span2 badge-wrapper">
      <div class="badge">
        <div class="avatar-wrapper">
          <span class="avatar-shadow"></span>
          <img class="avatar" src="{{filepicker user.avatarUrl 38 38}}" />
        </div>
        <span class="username">{{#if user.screenName}}{{user.screenName}}{{else}}{{#if user.firstName}}{{user.firstName}} {{truncate user.lastName 1 "."}}{{else}}Goodybagger{{/if}}{{/if}}</span>
        <i class="icon-chevron-down expansion-indicator"></i>
        <ul class="dropdown-menu">
            <li>
              <a href="#" class="edit-keytag-link">Connect your Keytag</a>
            </li>
            <li>
              <a href="#/my-punchcards">Your PunchCards</a>
            </li>
            <li>
              <a href="#/settings">Settings</a>
            </li>
            <li>
              <a href="#" class="{{#if user.id}}logout{{else}}login{{/if}}">{{#if user.id}}Log Out{{else}}Log In{{/if}}</a>
            </li>
        </ul>
      </div>
    </div>
  </div>
</div>
